@import 'partials/setup';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/global';
@import 'partials/header';
@import 'partials/main';
@import 'partials/plant-form';
@import 'partials/plant-cards';


// @import 'partials/mixins';

// body {
// 	margin: 0;
// 	background: #40E0D0;
// 	font-family: 'Pontano Sans', sans-serif;
// }

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 70px;
	// 	@include respond-to(medium) {
	// }
}

.formWrap {
	// @include respond-to(medium) {
	// 	margin-bottom: 70px;
	// 	width: 100%;
	// }
}

// header img {
// 		display: block;
// 		max-width: 400px;
// 		width: 100%;
// 		margin-right: auto;
// 		padding-left: 50px;	
// 	}

// header p {
// 	font-size: 22px;
// 	color: #FFF;
// 	padding: 40px 50px 0 90px;
// 	white-space: normal;
// 	// @include respond_to(medium) {
// 	// 	overflow: auto;
// 	// 	white-space: nowrap;
// 	// 	text-overflow: ellipsis;
// 	// }
// }

// .wrapper {
// 	max-width: 1100px;
// 	margin: 0 auto;
// }

// .add-plants {
// 	max-width: 250px;
// 	width: 100%;
// 	margin-bottom: 100px;
// 	margin-left: 50px;
// 	//  @include respond_to(medium) {
// 	// 	max-width: 300px;
// 	// 	width: 100%;
// 	// 	margin: 0 auto;
// 	// 	}
// }

// .add-plants form {
// 	width: 100%;
// 	margin-right: auto;
// 	position: relative;
// 	background: #fff;
// 	box-shadow: 0 4px 5px 0 rgba(0,0,0,.2), 0 4px 4px -4px rgba(0,0,0,.2), 0 2px 9px 0 rgba(0,0,0,.2);
// 	border-radius: 15px;
// }

// .flex-container {
// 	width: 100%;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: space-between;
// }

// input#cacti,
// input#succulent,
// input#house-plant,
// input#other-day,
// input#week,
// input#two-weeks,
// input#three-weeks,
// input#month {
// 	margin: 0;
// 	width: 10px;
// }

// input.plant-name {
// 	margin: auto;
// 	background-color: transparent;
// 	border: 0px solid;
// }

// input#date {
// 	max-width: 95%;
// 	padding: 5px 0 5px 5px;
// 	margin-top: 5px;
// 	font-size: 12px;
// 	text-transform: uppercase;
// 	font-family: 'Pontano Sans', sans-serif;
// 	color: #94C74D;
// }

// .plant-cards {
// 	width: 65%;
// 	margin-left: 50px;
// 	position: relative;
// 	// @include respond-to(medium) {
// 	// 	margin: 0 auto;
// 	// }
// } 

// p.today {
// 	font-family: 'Ramabhadra', sans-serif;
// 	font-size: 12px;
// 	margin-right: 5px;
// }

// p.plantType__user-input span,
// p.name__user-input span {
// 	font-family: 'Ramabhadra', sans-serif;
// 	font-size: 14px;
// }

// p.water-me {
// 	font-family: 'Pontano Sans', sans-serif;
// 	color: #696969;
// }

// p.display-when {
// 	color: #94C74D;
// 	font-size: 22px;
// 	display: flex;
// 	justify-content: space-around;
// 	align-items: center;
// 	img {
// 		width: 30px;
// 		margin-right: 15px;
// 	}
// }

// .plant-cards button {
// 	margin-top: 20px;
// 	margin-left: auto;
// 	display: block;
// 	position: relative;
// 	bottom: -1px;
// 	right: 0;
// }

// .type,
// .dynamic-name,
// .water-tracker {
//   padding: 0 15px 15px 15px;
// 	.instruction {
// 		padding-bottom: 10px;
// 		font-family: 'Ramabhadra', sans-serif;
// 		font-size: 14px;
// 		line-height: 16px;
// 	}
// }

// .type {
// 	padding-top: 15px;
// }

// ul {
// 	display: flex;
// 	flex-wrap: wrap;
// 	align-content: flex-start;
// 	margin: 0;
// 	padding: 0;
// 	// @include respond-to(medium) {
// 	// 	align-items: center;
// 	// 	margin-left: 0;
// 	// }
// }

// li {
// 	max-width: calc(300px - 20px);
// 	width: 100%;
// 	list-style-type: none;
// 	margin-right: 30px;
// 	margin-bottom: 70px;
// 	padding-left: 20px;
// 	position: relative;
// 	border-radius: 10px;
// 	background: #fff;
// 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
// 	// @include respond-to(medium) {
// 	// 	align-items: center;
// 	// 	margin-right: 0;
// 	// 	margin-left: 40px;
// 	// }
// } 

// input[type=submit] {
// 	border-radius: 2px;
// 	width: 100%;
// 	cursor: pointer;
// 	border: 0;
// 	background-color: #94C74D;
// 	color: #fff;
// 	font-size: 14px;
// 	padding: 15px 6px;
// 	z-index: 30;
// 	border-radius:  0 0 15px 15px;
// }

button {
	// border-radius: 2px;
	// background-color: #94C74D;
	// cursor: pointer;
	// border: 0;
	// min-width: 120px;
	// color: #fff;
	// font-size: 14px;
	// box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
	// padding: 10px 6px;
	// z-index: 20;
}

